{% if setting.label %}
<p>
  <label for="{{ setting.name }}">{{ setting.label }}</label>
</p>
{% endif %}
<p>
  <ul id="magic_dashboard_fields_{{ setting.name }}">
    <li>
      {% for field in setting.fields %}
        {% include field.template with { 'setting': field } %}
      {% endfor %}
      <button type="button" class="magic_dashboard_delete_list_item_btn">Delete Field</button>
    </li>
  </ul>

  <button type="button" class="magic_dashboard_add_list_item_btn">Add Field</button>
</p>

<script>
  function magic_dashboard_add_list_item_btn(e) {
    var field_wrapper = e.target.parentNode.querySelector('ul');
    var clone_target = field_wrapper.children[0];
    var clone_wrapper = document.createElement('li');
    var clone = clone_target.cloneNode(true);
    field_wrapper.appendChild(clone);

    document.querySelectorAll('.magic_dashboard_delete_list_item_btn')
      .forEach(btn => {
        btn.removeEventListener('click', magic_dashboard_delete_list_item_btn);
        btn.addEventListener('click', magic_dashboard_delete_list_item_btn);
      })
  }

  document.querySelectorAll('.magic_dashboard_add_list_item_btn')
    .forEach(btn => {
      btn.addEventListener( 'click', magic_dashboard_add_list_item_btn);
    })

  function magic_dashboard_delete_list_item_btn(e) {
    var target = e.target;
    var field_wrapper = e.target.parentNode;

    const child_count = field_wrapper.parentNode.children.length;
    if (child_count > 1 ) {
      field_wrapper.parentNode.removeChild(field_wrapper);
    }
  }

  document.querySelectorAll('.magic_dashboard_delete_list_item_btn')
    .forEach(btn => {
      console.log(btn);
      btn.addEventListener( 'click', magic_dashboard_delete_list_item_btn);
    })
</script>
