<div class="wrap">
  <h3>{{ title }}</h3>
  <form method="post" action="">
    {{ function( 'magic_dashboard_render_settings_fields', settings ) }}
    <input type="submit" value="Submit" />
  </form>
</div>
